<?php
    $tasks = [
        [
            'id'        => 0,
            'userName'  => 'admin',
            'mail'      => 'test@test.ru',
            'task'      => 'test...........',
            'status'    => 0,
        ],
        [
            'id'        => 1,
            'userName'  => 'Helen',
            'mail'      => 'test@test.ru',
            'task'      => 'test...........',
            'status'    => 0,
        ],
        [
            'id'        => 2,
            'userName'  => 'admin',
            'mail'      => 'test@test.ru',
            'task'      => 'test...........',
            'status'    => 0,
        ],
    ];
?>

<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style src='../../public/css/main.css' type="text/css"></style>
    </head>

    <body>

        <?php if (isset($model->id)) {?>
            <label>Hello, <?= $model->name?> (<a href="/user/logout">exit</a> )</label>
        <?php } else { ?>
            <div class="text-center">
                <!-- Button HTML (to Trigger Modal) -->
                <a href="#myModal" class="trigger-btn" data-toggle="modal">log in</a>
            </div>
        <?php } ?>

        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Member Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/user/login" method="post">
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" placeholder="Username" required="required" name="login">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="form-control" placeholder="Password" required="required" name="password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Последние задачи">
            <ul class="pagination">
                <li><a href="#"> Предыдущая </a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"> Следующая </a></li>
            </ul>
        </nav>

        <table class="table">
            <thead>
                <th>
                    <td>id</td>
                    <td>Пользователь</td>
                    <td>e-mail</td>
                    <td>Задача</td>
                    <td>Статус</td>
                </th>
            </thead>
            <?php
                foreach($tasks as $task) {
                    echo '<tr>';
                    echo '<td>' . $task['id'] . '</td>';
                    echo '<td>' . $task['userName'] . '</td>';
                    echo '<td>' . $task['mail'] . '</td>';
                    echo '<td>' . $task['task'] . '</td>';
                    echo '<td>' . $task['status'] . '</td>';
                    echo '</tr>';
                }
            ?>
        </table>
    </body>
</html>